@use "../scss/variables" as var;
@import "../scss/mixins";
:host {
    display: flex;
    flex-direction: column;

    margin-left: 25%;
    margin-right: 25%;

    box-shadow: var.$primary-shadow 1px 1px 15px 5px;

    @media (max-width: var.$phone) {
        margin-left: 0;
        margin-right: 0;
    }

    @media (max-width: var.$small) and (min-width: var.$phone) {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.content {
    display: grid;

    grid-template-columns: 0px 1fr 1fr;
    grid-template-rows: 10vh 1fr 10px;
    grid-template-areas:
        "header header header"
        ". tasks entries"
        ". tasks entries";

    gap: 4%;

    width: 100%;
    height: 80vh;

    overflow-y: auto;

    @media (max-width: var.$phone) {
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 70vh 80vh;
        grid-template-areas:
            "header"
            "tasks "
            "entries";
        height: 100%;
    }
}

.todo-entry-panel-wrapper {
    position: relative;
    grid-area: entries;

    @include flex();
    @include flex-center();
    @include primary-background($shadow-inset: true);

    width: 100%;

    border-top-left-radius: 5rem;
    overflow: hidden;
}

.icon-wrapper {
    @include flex();
    @include flex-center();
    text-align: center;

    position: absolute;
    top: 0;
    right: 0;

    z-index: 0;

    width: 100%;
    height: 100%;

    font-size: 10rem;
    color: var.$secondary-contrast;
}
