//color URL: https://paletton.com/#uid=52T0u0kiCFn8GVde7NVmtwSqXtg

$primary-color: #80e697;
$primary-shadow: #1cb03d;
$primary-contrast: #b2f4c1;

$secondary-color: #bcf265;
$secondary-shadow: #92d722;
$secondary-contrast: #e1fbb7;

$contrast: #52acbd;
$contrast-dark: #1a7d90;
$contrast-light: #aee3ed;

$phone: 450px;
$small: 1000px;
